.nav {
    grid-area: n;
    background-color: #F18904;
    padding: 20px;
}

.nav .item a {
    text-decoration: none;
    color:white;
}

.item {
    color: white;
}
.item a.activeLink{
    color: dodgerblue;
}